<div class="edit-category">

<h1>Editing payment</h1>

<%= render "form", payment: @payment %>

<br>

<div>
  
  <%= link_to "Back to payments", category_payments_path, class: "links-edit-back-see"  %>
</div>
</div>