<p style="color: green"><%= notice %></p>

<%= render @payment %>

<div class="links-list">
 
  <%= link_to "Back to payments", category_payments_path, class: "links-edit-back-see"  %>
</div>
  
  <div class="destroy-button-div">
  <%= button_to "Destroy this Payment", @payment_path, method: :delete, class: "destroy-button"  %>

</div>

