* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: rgb(173, 233, 213);
}

.navlogo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(100, 189, 230);
  padding: 10px;
}

.navlogo nav {
  display: flex;
  flex-direction: row;
}

.logo {
  width: 60px;
  height: auto;
}

.navbar-list-item {
  padding-left: 10px;
  color: black;
  text-decoration: none;
  font-size: 1rem;
}

.link-back {
  padding-right: 15px;
}

.navbar-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(100, 189, 230);
  padding: 10px;
}

.edit-user {
  padding: 15px;
}

.logout-button {
  background-color: rgb(100, 189, 230);
  text-decoration: none;
  border: none;
  list-style: none;
  font-family: 'Times New Roman', Times, serif;
  font-size: 0.9rem;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgb(100, 189, 230);
  padding-left: 10px;
  padding-right: 15px;
}

.footer p {
  font-size: 0.7rem;
}

.welcome {
  width: 100%;
  margin-top: 40%;
  justify-content: center;
}

.welcome h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  margin-top: 10%;
}

.signup {
  padding: 20px;
}

.login {
  padding: 20px;
}

.field {
  padding-top: 4px;
  padding-bottom: 4px;
}

.categories-view {
  padding: 20px;
}

#categories {
  margin-bottom: 20px;
}

.single-category {
  padding-top: 10px;
  padding-bottom: 5px;
}

.render-category {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid rgb(59, 57, 158, 0.3);
  padding-bottom: 20px;
}

.category-name-amount-link {
  color: black;
  width: 20%;
}

.show-category {
  padding-top: 20px;
  padding-bottom: 5px;
}

.links-edit-back-see {
  text-decoration: none;
  color: black;
}

.links-list {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.destroy-button-div {
  width: 100%;
  margin-top: 25px;
}

.destroy-button {
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}

.edit-category {
  padding: 20px;
}

.editing-category-name {
  padding-top: 15px;
  padding-bottom: 15px;
}

.newcategory {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
}

.newcategory-option-list {
  padding: 7px;
}

.newcategory_img {
  width: 35px;
  height: auto;
}

.payments-view {
  padding: 20px;
}

.payment-view {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid rgb(59, 57, 158, 0.3);
}



.payment-line {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}

.payment-line p {
  color: black;
}

.render-payments {
  border-bottom: 1px solid rgb(59, 57, 158, 0.3);
  padding-bottom: 20px;
}
